body {
    background-color: rgb(245, 244, 244);
    text-align: center;
}



#links{
    text-align: right;
    margin-bottom: 30px;
        
}

#links > a{
    color: gray;
    text-decoration: none;
    font-size: 12px;
    margin-left: 9px;
    position: relative;
    right: 1%;
}

#links > a:hover {
    text-decoration: underline;
    
}

#logo {
    width: 272px;
    height: 92;
}

#imageLogo {
    margin-bottom: 15px;
}


#bar {
    border-radius: 50px;
    text-indent: 50px;
    padding-top: 2px;
    text-align: left;
    padding: 6px 0px;
    margin-bottom: 15px;
    border: 1px;
    width: 45%;
    min-width: 250px;
    background-image: url(lupa.png);
    background-repeat: no-repeat;
    background-position: 9px 6px;
    background-size: 17px;
    font-size: 12px;
    box-shadow: 0 0 0.2em #888;
    
}

div > input{
    padding: 6px 18px;
    border-radius: 2px;
    /* border-style: solid; */
    border: 1px transparent;
}


div > input:hover {
    box-shadow: 0 0 0.2em #888
}

h6 > a:hover, a:active {
    background-color: blueviolet ;
    color: darkkhaki;
}

#textImages {
    color: #4285f4;;
    position: relative;
    left: -60px;
    top: -8px;
    white-space: nowrap;
    font: 16px/16px roboto-regular, arial, sans-serif;

}